.login-screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .login-screen-title {
    margin-bottom: 0;
  }
}

a.item-link.list-button {
  cursor: pointer;
}
