<div class="login-screen modal-in">
  <div class="view">
    <div class="page">
      <div class="page-content login-screen-content">
        <div class="login-screen-title">
          <span class="octicon octicon-bell"></span>
        </div>
        <div class="list-block">
          <a class="item-link list-button">
            <span class="octicon octicon-mark-github"></span>
            Sign In
          </a>
        </div>
      </div>
    </div>>
  </div>
</div>
