<div class="login-screen modal-in">
  <div class="view">
    <div class="page">
      <div class="page-content login-screen-content">
        <div class="login-screen-title">
          {{svg-jar "bell" class="octicon" width="128" height="128"}}
        </div>
        <div class="list-block">
          {{#if isProcessing}}
            <span class="preloader">
            </span>
          {{else}}
            <a class="item-link list-button"
              onclick={{action 'authenticate'}}>
              {{svg-jar "mark-github" class="octicon"}}
               Sign In
            </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
