<div class="views">
  <div class="view view-left navbar-through">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a {{action "signOut"}} title="Sign out" class="link">
            <img alt={{model.login}} src={{model.avatarUrl}} class="avatar">
          </a>
        </div>
        <div class="center sliding">
          Notifications
        </div>
        <div class="right">
        </div>
      </div>
    </div>
    <div class="pages">
      <div class="page">
        <div class="page-content">
        </div>
      </div>
    </div>
  </div>
  <div class="view view-main navbar-through">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
        </div>
        <div class="center">
          Notification Detail
        </div>
        <div class="right">
        </div>
      </div>
    </div>
    <div class="pages">
      <div class="page">
        <div class="page-content">
        </div>
      </div>
    </div>
  </div>
</div>